.header-bar {
  height: 80px;
  width: 100%;
  background-color: blueviolet;
  position: fixed;
  color: white;

  text-align: center;
  font-size: 2rem;
}

.App {
  height: 100vh;
  background-color: black;
}

.wave{
  margin-top: 80px;
  height: 200px;
  width: 100%;
}

